
<div class="container-fluid clearfix">
  <app-header></app-header>
  <app-navigation></app-navigation>
  <main class="main-section row">
    <!--BODY BEGIN-->
    <router-outlet></router-outlet>
    <!--BODY END-->
  </main>
  <app-footer></app-footer>
</div>
