<div class="form-wrapper container">
  <form name="loginForm" #mainForm="ngForm" (ngSubmit)="onSubmitForm(mainForm)">

    <div class="btn-wrapper">
      <!-- Create / View -->
      <button *ngIf="!isUpdateFormMode" type="submit" class="btn btn-primary signin-btn" (click)="onNavigateToListPage()">Back to List</button>

      <!-- Update -->
      <button *ngIf="isUpdateFormMode" type="submit" class="btn btn-primary signin-btn" (click)="onNavigateToViewPage()">Cancel</button>

      <!-- Create / Update -->
      <button *ngIf="!isViewFormMode" type="submit" class="btn btn-primary signin-btn">Save</button>

      <!-- View -->
      <a *ngIf="isViewFormMode" routerLink="/user/form/update/{{formData?.id}}" class="btn btn-primary">Update</a>
    </div>

    <div class="form-group">
      <label for="userName">Email</label>
      <input type="text" id="email" name="email" class="form-control" [(ngModel)]="formData.email" required [disabled]="!isCreateFormMode">
      <div [hidden]="!formErrors.email" class="form-control-feedback">{{formErrors.email}}</div>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" [(ngModel)]="formData.phoneNumber" required [disabled]="isViewFormMode">
      <div [hidden]="!formErrors.phoneNumber" class="form-control-feedback">{{formErrors.phoneNumber}}</div>
    </div>


    <div *ngIf="isCreateFormMode" class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" [(ngModel)]="formData.password" required>
      <div [hidden]="!formErrors.password" class="form-control-feedback">{{formErrors.password}}</div>
    </div>

    <div *ngIf="isCreateFormMode" class="form-group">
      <label for="rePassword">Re-Password</label>
      <input type="password" id="rePassword" name="rePassword" class="form-control" [(ngModel)]="formData.rePassword" required>
      <div [hidden]="!formErrors.rePassword" class="form-control-feedback">{{formErrors.rePassword}}</div>
    </div>
  </form>
</div>
