<nav class="container-fluid">
  <ul>
    <li><a class="btn btn-link" [routerLink]="['/']">Home</a></li>
    <li><a class="btn btn-link" [routerLink]="['/user/list']">User Management</a></li>
    <li><a class="btn btn-link" [routerLink]="['/account/login']">Sign In</a></li>
  </ul>
</nav>
