<p>
  todo-form works!
</p>
<div *ngIf="isCreateMode">
  is under create mode
</div>
<div *ngIf="isUpdateMode">
  is under update mode {{id}}
</div>

<form [formGroup]="formGroup">

  <label>
    First Name:
    <input type="text" formControlName="title">
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="description">
  </label>

</form>
