<div class="form-wrapper">
  <form name="loginForm" (ngSubmit)="signin()">
    <div class="form-group">
      <label for="userName">User Name</label>
      <input type="text" id="userName" name="userName" class="form-control" [(ngModel)]="formData.userName" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" [(ngModel)]="formData.password" required>
    </div>

    <div class="btn-wrapper">
      <button type="submit" class="btn btn-primary signin-btn">SignIn</button>
    </div>
    <div class="error-message" *ngIf="isError">
      <span>{{message}}</span>
    </div>
  </form>

</div>
