.form-wrapper{
  text-align: center;
}
form[name=loginForm] {
  max-width: 300px;
  width: 100%;
  display: inline-block;
  margin: 20px;
  text-align: left;
}

.signin-btn {
  float: right;
  display: inline-block;
}

.error-message{
  clear: both;
  padding: 4px;
  color: red;
}
